* {
	padding: 0;
	margin: 0;

}

body {
	font-family: Helvetica, sans-serif;
}

.wrapper {
	width: 100%;	
	}

header nav a {
	text-decoration: none;
	text-align: center;
	color: black;	
}

.myDIV {
	width: 100%;
}

header nav ul {
	width: 100%;	
	text-align: center;
}

header nav li {
	list-style: none;
	line-height: 80px;
	font-size: 40px;

}

header nav ul li a:hover {
	color: #e62b1e;

}

header nav ul li a.active {
	color: #e62b1e;
}


header nav {
	display: flex;	
	justify-content: space-between;
	flex: 1 1 0;
	flex-wrap: wrap;
	overflow: hidden;

}



.bar div {
	height: 10px;
	background-color: black;
	margin: 8px 0;
	border-radius: 25px;
}

.bar {
	width: 50px;
	display: inline-block;
	padding-top: 85px;
	padding-right: 30px;
    cursor: pointer;	
	
}

.one, .two, .three {
	transition: 0.4s
}

.logoimg {
	padding-top: 20px;
	width: 450px;
	height: 200px;
	display: inline-block;
	padding-left: 30px;

}

.change .one {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .two {
    opacity: 0;
}

.change .three {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

hr {
	margin: 7%;
	border-color: #dce1ea;
}

.eventname {
  width: 100%;
  color: red;
  text-align: center;
  font-size: 20px;
  letter-spacing: 10px;
  padding-bottom: 25px;
}
#del-countdown{
	font-family: Montserrat, sans-serif;
  width: 100%;
  margin: 15% auto;
}
#clock span{
  float: left;
  text-align: center;
  font-size: 80px;
  margin: 0 2.5%;
  color: white;
  padding: 20px;
  width: 20%;
  border-radius: 10px;
  box-sizing: border-box;
}
#clock span:nth-child(1){
  background: #e62b1e;
}
#clock span:nth-child(2){
  background: #e62b1e;
}
#clock span:nth-child(3){
  background: #e62b1e;
}
#clock span:nth-child(4){
  background: #e62b1e;
}
#clock:after{
  content: "";
  display: block;
  clear: both;
}
#units span{
  float: left;
  width: 25%;
  height: 200px;
  text-align: center;
  margin-top: 30px;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
}
/*
span.turn{
  animation: turn 0.7s ease forwards;
}

@keyframes turn{
  0%{transform: rotateX(0deg)}
  100%{transform: rotateX(360deg)}
}

*/



h3 {
	width: 100%;
	text-align: center;
	color: black;
	padding: 15px;	
	font-size: 24px;
   
}

p {
	margin: 0 75px 0 75px;
	font-size: 15px;
	line-height: 45px;
}

.alignimg {

	width: 100% ;
	height: auto;
	background-position: center;
	background-size: cover;
	margin: 0 ;
}

.indeximg {
	padding: 40px 0 40px 0;
	min-width: 100%;
	
}

.items {
	display: flex;
	align-items: center;
	justify-content: center;
	display: block;
}


.members {
	border-radius: 400px;
	
	border: 2px solid #e62b1e;
	width: 500px;
	height: 500px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 30px 0 30px 0;
}

h4 {
	text-align: center;
	color: #e62b1e;
	font-size: 30px;
	padding-bottom: 25px;
}

.names {
	font-size: 40px;
}

.description {

	margin: 0 75px 0 75px;
	font-size: 22px;
	line-height: 45px;
	text-align: center;

}

.wrapper {
	padding-bottom: 60px;
}

#footer {
	position: relative;
	width: 100%;
	height: 60px;
	clear: both;
}

#footer ul {
	list-style: none;
	text-align: center;
	
}

#footer ul li {
	display: block;
	padding: 18px 0;

	
}

#footer ul li a {
	color: black;
	text-decoration: none;
	font-size: 23px;
}

#footer ul li a:hover {
    	color: #e62b1e;

    }

    .icons {
	width: 100%;
	text-align: center;
	font-size: 40px;
	padding-bottom: 50px;
}

    .iconsnav {
	width: 100%;
	text-align: center;
	font-size: 50px;
	padding-top: 30px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.abtted {

	color: #666;
	padding-top: 40px;
	font-weight: normal;
	padding-bottom: 20px;
	font-size: 45px;
}

.abtteddesc {
	
	padding: 0 5% 30px 5%;
	font-size: 25px;
	line-height: 1.5em;
	text-align: center;	

}

.lastline {
	display: none;
}

.textfooter {
	border-top: 3px solid rgba(17,17,17,.1);
	border-bottom: 3px solid red;
}

@media screen and (min-width: 1200px) {
	.bar {
		display: none;
	}

	header nav li {
		display: inline-block;
		font-size: 20px;
		padding: 0 7px 0 7px;
		text-align: center;
	}


    header nav ul {
    	float: left;
    	text-align: right;
    	position: absolute;
    	top: 50px;
    
    }

    header nav ul li {
    	margin-right: 5%;
    }

    header nav ul li a:hover {
    	color: #e62b1e;
    	border-bottom: 1px solid #e62b1e;
    }

    header nav {
	
	overflow: hidden;
	width: 100%;
	height: 150px; 

}

    header nav ul li a.active {
	color: #e62b1e;
}

.mainbody {
	padding-top: 0;
}
.wrapper {
	padding-bottom: 60px;
}

#footer {
	position: relative;
	width: 100%;
	height: 60px;
	margin-top: -60px;
	clear: both;
	
}

#footer ul {
	list-style: none;
	text-align: center;
	
}

#footer ul li {
	display: block;
	padding: 15px;
	
}

#footer ul li a {
	color: #333;
	text-decoration: none;
	font-size: 18px;
}

#footer ul li a:hover {
    	color: #e62b1e;
        }

 .navline {
  	position: relative;
  	top: -40px;
  	margin: 0;
  }

    .logoimg {
    	float: left;
    	position: absolute;
    	top: 10px;
    	width:300px;
    	height: 125px;
    	text-align: center;
    	background-color: transparent;
    }


   #del-countdown {

   	font-family: 'Montserrat', sans-serif;
  width: 65%;
  margin: 4% auto;
}   

  .bodyline {
  	position: relative;
  	left: 3%;
  }

    .content {
        position: relative;
        margin: -2% 0;
    }

   .left {
   	width: 50%;
   	float: left;
   	position: relative;
   }

   .right {
   	width: 50%;
   	float: right;
   	position: relative;

   }

    .alignimg {

	width: 50% ;
	height: auto;
	background-position: center;
	background-size: cover;
	
}

    .indeximg {
	padding: 3%;
	min-width: auto;	
	}

	p {

	margin: 0 75px 0 75px;
	font-size: 18px;
	line-height: 1.5em;
}

h3 {
	width: 100%;
	text-align: center;
	color: black;
	padding: 10px;	
	font-size: 23px;
   
}

.timerline {
	display: none;
}
.items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	display: inline-block;
	position: relative;
	top: 10%;

	}

   .members {
	border-radius: 400px;
	width: 300px;
	height: 300px;
	margin: 15px 0 15px 0;
	border: 2px solid #e62b1e;


}

.saksham1 {
	padding-bottom: 50px;
}
.names {
	font-size: 30px;
}

h4 {
	text-align: center;
	color: #e62b1e;
	font-size: 25px;
	padding-bottom: 25px;
}

.description {

	margin: 0 75px 0 75px;
	font-size: 20px;
	line-height: 1.5em;
	text-align: center;

}

.abtted {

	color: #666;
	padding-top: 40px;
	font-weight: normal;
	padding-bottom: 20px;
	font-size: 35px;
}

.abtteddesc {
	
	padding: 0 5% 30px 5%;
	font-size: 18px;
	line-height: 1.5em;
	text-align: center;
	

}

.textfooter {
	border-top: 3px solid rgba(17,17,17,.1);
	border-bottom: 3px solid red;
}

.icons {
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
}

.iconsnav {
	display: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    color: black;
}
	

	}